<div>
    <form novalidate ng-submit="loadPage()">
        <div class="form-group col-md-6">
            <label for="filterMinPrice">Фильтр по минимальной цене</label>
            <input class="form-control" type="text" ng-model="filter.min_price" id="filterMinPrice">
        </div>
        <p></p>
        <div class="form-group col-md-6">
            <label for="filterMaxPrice">Фильтр по максимальной цене</label>
            <input class="form-control" type="text" ng-model="filter.max_price" id="filterMaxPrice">
        </div>
        <p></p>
        <div class="form-group col-md-6">
            <label for="filterTitle">Фильтр по названию</label>
            <input class="form-control" type="text" ng-model="filter.title" id="filterTitle">
        </div>
        <p></p>
        <div>
            <button class="btn btn-primary" type="submit">Применить фильтр</button>

        </div>
    </form>
    <table class="table">
        <thead>
        <tr>
            <td>Id</td>
            <td>Название</td>
            <td>Цена</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in productsPage.content">
            <td>{{p.id}}</td>
            <td>{{p.title}}</td>
            <td>{{p.price}}</td>
            <td><button class="btn btn-primary" ng-click="addToCart(p.id)">В корзину</button></td>
            <td><button class="btn btn-primary" ng-click="deleteProductById(p.id)">Delete</button></td>
        </tr>
        </tbody>
    </table>
    <p></p>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li ng-repeat="p in navList" class="page-item">
                <a class="page-link" ng-click="loadPage(p)">{{p}}</a>
            </li>
        </ul>
    </nav>

</div>